<div class="cover-image" style="background-image : url('img/fundo.jpg')"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Demand-Scheduler</h1>
            <p>Suas demandas organizadas e priorizadas para sua maior conveniência e produtividade
            </p>
            <br>
            <br>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                    <input type="text" class="form-control input-lg" id="login" placeholder="Login">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                    <input type="password" class="form-control input-lg" id="senha" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default btn-lg">Login</button>
                <div class="form-group text-right">
                    <a href="#" style="color: white">Primeiro acesso</a>
                    <br/>
                    <a href="#" style="color: white">Esqueci minha senha</a>
                </div>
            </form>
        </div>
    </div>
    
</div>